:root {
  --color-primary: #D35400;    /* Naranja Teja */
  --color-secondary: #4A4A4A;  /* Gris Plomo */
  --color-dark: #1A1A1A;       /* Negro */
  --color-light: #FFFFFF;      /* Blanco */
  --color-gray: #E5E5E5;       /* Gris Claro */
  --color-gray-dark: #2D2D2D;  /* Gris Oscuro */
}